body {
  background-image: url("images/fett.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
}

h3,li{
  color: black;
  margin-bottom: .05%;
}
h3{
  text-align: center;
  font-size: 30pt;
  font-family: Georgia, fantasy, cursive;
  font-variant: small-caps;
  text-indent: 7%;
}
li {
  font-size: 20pt;
  font-family: fantasy;
}
ol {
  list-style-position: inside;
  list-style-image: url("images/han.jpg");
  display: block;
  position: static;
}
a {
  color: red;
}
@font-face {
  font-family: 'Aurebesh';
  src: url('aurebesh/Aurebesh.ttf');
}
.pp,.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8, .p9,.p10,.p11,.p12,.H{
  font-family: Aurebesh, Georgia, fantasy, cursive;
  color: #008000;
}
.pp {
  font-size: 16pt;
  text-align: center;
  text-indent: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5%;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8,.p9,.p10,.p11,.p12 {
  font-size: 12pt;
  margin-left: .5%;
  text-indent: 60pt;
  margin-top: .05%;
}
.Home{
  position: absolute;
  bottom: 25px;
  font-size: 20pt;
  margin-left: 2%;
}
.H{
  position: absolute;
  bottom: 5px;
  font-size: 12pt;
  margin-left: 2%;
}
#pn{
  column-count: 2;
  margin-left: 32%;

}
