
body {
  background-color: #CCCCFF;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
  margin-bottom: 0%;
}
#display, #controls{
  text-align: center;
}
#displayarea {
  width: 90%;
  height:400px;
  margin-left: auto;
  margin-right:auto;
  column-span: all;
}
fieldset {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  font-size: 12pt;
  font-weight: bold;
  font: monospace;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
#w3c {
  float: right;
}
